<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
<add name="Anchor120v7Entities" connectionString="metadata=res://*/FAModel.csdl|res://*/FAModel.ssdl|res://*/FAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=库存;persist security info=True;user id=sa;password=anchor;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>